# Ejemplo de cómo deberían ser las variables de entorno para el correcto montaje de los contenedores
# y el funcionamiento de la aplicación en los distintos entornos.
# Debes crear tus propios archivos `.env` basándote en esta plantilla.

# ============================================
# ARCHIVO: /.env (Ubicado en la raíz del proyecto)
# ============================================
# Variables exclusivas para Docker Compose (PostgreSQL y pgAdmin)

# --- PostgreSQL Configuration ---
# Usuario raíz de la base de datos
POSTGRES_USER=your_db_user

# Contraseña del usuario
POSTGRES_PASSWORD=your_db_password

# Nombre de la base de datos principal
POSTGRES_DB=your_db_name

# Puerto interno del contenedor (por defecto 5432)
POSTGRES_PORT=5432

# --- pgAdmin Configuration ---
# Email para iniciar sesión en el panel web de pgAdmin
PGADMIN_EMAIL=admin@example.com

# Contraseña para acceder a pgAdmin
PGADMIN_PASSWORD=your_pgadmin_password

# Puerto donde se expondrá pgAdmin (ej. 5050)
PGADMIN_PORT=5050


# ============================================
# ARCHIVO: /backend/.env (Ubicado en la carpeta backend)
# ============================================
# Variables para el funcionamiento del servidor backend (NestJS, Prisma, JWT, APIs)

# --- Prisma Configuration ---
# URL de conexión a la base de datos.
# Si se levanta desde docker, usar el nombre del servicio postgres (ej: @postgres:5432)
# Si se levanta en local, usar localhost (ej: @localhost:5432)
DATABASE_URL="postgresql://your_db_user:your_db_password@postgres:5432/your_db_name?schema=public"

# --- Secutiry / Authentication ---
# Clave secreta para la generación y validación de tokens JWT
JWT_SECRET="your_jwt_secret_key_here"

# Contraseña configurada por defecto para el super administrador
ADMIN_PASSWORD="your_admin_password_here"

# --- Third-party APIs ---
# Main API key for application (RapidAPI u otros proveedores)
RAPID_API="your_main_api_key_here"

# Test Api key for application
RAPID_API_TEST="your_test_api_key_here"