# ============================================
# ARCHIVO: /.env (Ubicado en la raíz del proyecto)
# ============================================

# PostgreSQL Configuration
POSTGRES_USER={usuario_Admin}
POSTGRES_PASSWORD={contra_admin}
POSTGRES_DB={db_postgree}
POSTGRES_PORT={puerto}

# pgAdmin Configuration
PGADMIN_EMAIL={email}
PGADMIN_PASSWORD={contraseña}
PGADMIN_PORT={puerto}


# ============================================
# ARCHIVO: /backend/.env (Ubicado en la carpeta /backend)
# ============================================

DATABASE_URL={mi_url}

# Url si quiero hacer cambios en la bd de produccion
#DATABASE_URL={mi_url_produccion}
JWT_SECRET={mi_secreto_jwt}

# Main API key for application
RAPID_API={mi_api_key} # Esta es la buena

# Test Api key for application
RAPID_API_TEST={mi_api_key_test}

ADMIN_PASSWORD={contra_Admin}

EMAIL_ACCOUNT={correo}
EMAIL_PASSCODE={passcode_email}

# Url con la direccion del frontend
FRONTEND_URL={url_frontend}

# Api keys de stripe
PUBLIC_STRIPE_KEY={Key_stripe}
SECRET_STRIPE_KEY={key_stripe_secret}


# ============================================
# ARCHIVO: /frontend/.env (Ubicado en la carpeta /frontend)
# ============================================

VITE_BACKEND_ROUTE={ruta_backend}