services:
  #Servicio para la bd (PostgreeSQL)
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: "no"
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  #Servicio para el gestor con interfaz grafica de la bd
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: "no"
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - app_network
    depends_on:
      - postgres

  # Servicio de backend de nestjs
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: "no"
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - app_network
    depends_on:
      - postgres

  #Servicio de front de vite con react + swc 
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: "no"
    ports:
    - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
    - app_network
    depends_on:
    - backend  

volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local

networks:
  app_network:
    driver: bridge