@import 'tailwindcss';

body {
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* importante que ponga un z index alto para que muestre los toast de sileo, si no no mostrara nada */
[data-sileo-viewport] {
    z-index: 9999 !important;
}